body{
    color: #4a4a4a;
    padding: 0;
    margin: 0;
}
.main-wrapper{
    width: 100%;
    height: auto;
    position: relative;
    overflow-y: auto;
}
header.hero-section{
    background-image: url(../assets/backgrounds/h_img.jpg);
    width: inherit;
    height: 100vh;
    background-position: top right;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}
.hero-container{
    text-align: center;
}
.hero-container h1, .hero-container p{
    color: #fff;
    text-transform: uppercase;
}
.hero-container img{
    width: 40px;
    margin: 0 0 25px 0;
}
.mouse{
    position: relative;
    top: 120px;
}
.mouse img{
    width: 20px;
}


/* The about section/ */
.about-section{
    width: 100%;
    padding: 40px;
    text-align: center;
}


.overlay{
    width: 100%;
    padding: 30px;
    position: absolute;
    background-color: #000;
    opacity: .5;
    z-index: 1;
    top: 0;
    left: 0;
    height: 300px;
}
.service-section{
    width: 100%;
    background-image: url(../assets/backgrounds/s_image.jpg);
    background-repeat: no-repeat;
    position: relative;
    background-position: top center;
    color: #fff;
    display: flex;
    align-items: center;
    height: 300px;
}
.service-section h2{
    position: relative;
    z-index: 10;
    text-transform: uppercase;
    text-align: center;
}
.service-section p{
    position: relative;
    z-index: 10;
    text-align: center;
}
.doings{
    padding: 30px;
    margin-bottom: 20px;
}

.col-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.icon-holder{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.icon-holder .icon-text{
    text-transform: uppercase;
    margin-top: 10px;
}

.align-center{
    text-align: center;
}
.icon-content{
    display: none;
}
.col-flex1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.icon-holder1{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

}
.icon-holder1 .icon-text{
    text-transform: uppercase;
    margin-top: 10px;
}
.align-center{
    text-align: center;
}
.icon-content1{
    display: none;
}
.col-flex2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.icon-holder2{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.icon-holder2 .icon-text{
    text-transform: uppercase;
    margin-top: 10px;

}
.align-center{
    text-align: center;
}
.content3{
    display: none;
}
.portfolio-section{
    margin-bottom: 30px;
}
.padd{
    padding: 24px;
}
/* .image-holder{
    padding: 20px;
} */
.image-holder img{
    width: 100%;
    object-fit: contain;
}
.contact-us{
    background-image: url(../assets/backgrounds/c_image.jpg);
    margin-top: 30px;
    width: inherit;
    height: 100vh;
    background-position: top right;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}
.h2{
    align-items: center;
    justify-content: center;
    display: flex;
    color: #fff;
    padding-top: 5px;
    
}
.icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
input, textarea{
    background-color: transparent!important;
    border: 1px solid #fff!important;
    color: #fff!important;
}
::placeholder { 
    color: #fff!important;
    font-size: 12px;
}
.icon-container{
    width: 70%;
    margin: 0 auto;
    padding: 40px;
}